.profile {
    font-family: "Inter", sans-serif;
}

.profile-content {
  display: flex;
  gap: 50px;

}

.profile h3 {
  font-size: 30px;
  color: #3730a3;
}

.aboutme {
  margin-right: 10%;
  font-size: 20px;
}

.aboutme-content {
  color: #6b7280;
  
}

.profile table td {
  padding-right: 80px;
  white-space: nowrap;
}
.profile table td:first-child {
  font-weight: 600;
}
