.prj {
  font-size: 48px;
  font-weight: 600;
  color: #1f2937;
  margin: 10px 0;
  margin-bottom: 30px;
}

.photo2 {
  margin-top: 20px;
  height: 210px;
  margin-top: 40px;
  width: 300px;
  font-family: "Inter", sans-serif;
  
}

.photo3 {
  height: 210px;
  margin-top: 40px;
  width: 300px;
  margin-right: 171.3px;
  font-family: "Inter", sans-serif;
}
.photo4 {
  height: 210px;
  margin-top: 40px;
  width: 300px;
  font-family: "Inter", sans-serif;
}

.prjcont {
  display: flex;
 gap:115px;
  width: 1140px;
}

.imgcont {
  width: 300px;
  font-size: medium;
  font-family: "Inter", sans-serif;
  color: #6b7280;
 
}
 .h3{
  color:#3730a3;
 }


.butonC {
  margin-top: 50px;
  display: flex;
  gap: 20px;
height:25px;
color:#3730a3;
border-color:#3730a3; ;
}
.butonC1 {
  margin-top: 75px;
  display: flex;
  gap: 20px;
  height:25px;
  color:#3730a3;
}
.butonC2 {
  margin-top: 75px;
  display: flex;
  gap: 10px;
  height:25px;
  color:#3730a3;
}