.App {
  /* text-align: center; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-top: 87px;
  margin-right: 173.54px;
  gap: 82.16px;

}
.title1 {
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  font-size: larger;
  width: 100px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}
.title1:hover {
  background-color: #dc0c71;
  color: white;
}

.title2 {
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  width: 100px;
  height: 45px;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
}
.title2:hover {
  background-color: #dc0c71;
  color: white;
}

.title3 {
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  width: 100px;
  height: 45px;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
}
.title3:hover {
  background-color: #dc0c71;
  color: white;
}

.hr {
  display: flex;
  margin-top: 50px;
  margin-right: 173.54px;
  margin-left: 125px;
  height: 340px;
  /* border-top: 0.05px #dc0c71 solid; */
  justify-content: flex-end;
  gap: 50px;
  color: black;
  text-align: justify;
  font-size: small;
  font-family: papyrus;
  font-size: x-small;
  align-items: center;
  justify-content: center;
}

.button2 {
  margin-top: 45px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.bt1 {
  margin-right: 20px;
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  cursor: pointer;
  width: 120px;
  height: 45px;
  font-size: medium;
  border-radius: 5px;
  font-weight: bolder;
}

.bt1:hover {
  background-color: #dc0c71;
  color: white;
}

.bt2 {
  margin-right: 20px;
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  cursor: pointer;
  width: 120px;
  height: 45px;
  font-size: medium;
  align-items: center;
  display: flex;
  text-decoration:none;
  border-radius: 5px;
  font-weight: bolder;
}
.bt2:hover {
  background-color: #dc0c71;
  color: white;
}

.bt3 {
  background-color: white;
  color: #dc0c71;
  border-color: #dc0c71;
  cursor: pointer;
  width: 120px;
  height: 45px;
  font-size:medium;
  border-radius: 5px;
  font-weight: bolder;
}
.bt3:hover {
  background-color: #dc0c71;
  color: white;
}

.photo {
  height: 225px;
  border-radius: 10px;
  margin-top: 7px;
  border: 3px #dc0c71 solid;
}

.skl {
  display: flex;
  margin-top: 20px;
  margin-right: 173.54px;
  margin-left: 125px;
  height: 200px;
  color: black;
  text-align: justify;
  font-size: small;
  font-family: papyrus;
  justify-content: flex-start;
  font-weight: bolder;
  color: black;
  /* border: 3px #dc0c71 solid; */
}

.skl2 {
  text-decoration: underline;
  margin-top: 50px;
  display: flex;
  gap: 63px;
  color: #dc0c71;
  font-size: medium;
  font-weight: bolder;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "Times New Roman";
}

.prf {
  display: flex;
  border-top: 0.05px #dc0c71 solid;
  margin-top: 10px;
  margin-right: 173.54px;
  margin-left: 125px;
  height: 300px;
  font-family: papyrus;
  font-size: small;
  font-weight: bolder;
  gap: 600x;
  
  
}

.prf2 {
  font-size: medium;
  /* margin-top: 25px; */
  display: flex;
  align-content: flex-start;
  color: #dc0c71;
  font-family: "Times New Roman";
}
.prf3 {
  font-size: medium;
  font-weight: bolder;
}
.prf4 {
  width: 200px;
  font-weight: bolder;
}

.about {
  margin-top: 70px;
  font-family: "Times New Roman";
  font-size: medium;
  font-weight: bolder;
  margin-left: 200px;
  align-items: flex-start;
  color: #dc0c71;
  text-align: flex-start;
  text-align: justify;
}

.about2 {
  color: black;
  text-align: flex-start;
  font-family: papyrus;
  margin-top: 10px;
}

.footer {
  display: flex;
  border: 0.25px #fafafa solid;
  margin-right: 173.54px;
  margin-left: 125px;
  height: 270px;
  font-family:papyrus;
  font-weight: bolder;
  font-size: larger;
  background-color: #fafafa;
  align-items: center;
  justify-content:space-between
}



.foot {
  color:#dc0c71;
}


.btnicon {
  width: 18px;
  margin-right: 6px;
}

.iconhand{
  width: 30px;
  /* margin-right: 6px; */
  margin-left: 6px;
  margin-top: 10px;
  /* display: flex; */
  gap: 20px;
}